{% extends "layout.html" %}
{% block content %}
<div class="container mt-5 mb-5">
    <h1 class="text-center mb-4">
        Обо мне
    </h1>
    <div class="section">
        <p>
            Меня зовут<strong> Табиханов Николай</strong>.Обучаюсь в ИРНИТУ, Институт информационных технологий и анализа данных, направление ИСТб. Этот сайт — мой курсовой проект.
        </p>
        <h2 class="mt-5 mb-3">Технологии</h2>
        <ul>
            <li>HTML</li>
            <li>CSS / Bootstrap</li>
            <li>Flask (Python)</li>
            <li>VS Code</li>
            <li>Java script</li>
        </ul>
        <h2 class="mt-5 mb-3">Моя цель</h2>
        <p>
            Сдать курсовой проект и создать сайт, который будет визуально приятным, удобным, атмосферным и наполненным интересными материалами.
        </p>
        <h2 class="mt-5 mb-3">Связь</h2>
        <p>
            Почта: tabixa09@gmail.com
        </p>
        <h2 class="mt-5 mb-3">Фото</h2>
        <div class="photo">
            <div class="character-card">
                <img src="/static/image/author.jpg" alt="Фото автора">
                    <figcaption class="photo">Фото автора проекта</figcaption>
            </div>
        </div>
    </div>
</div>
<div class="bottom-nav">
    <a href="/facts" class="bottom-card left-card">
        <h3>< Факты</h3>
    </a>

    <a href="/glossary" class="bottom-card right-card">
        <h3>Глоссарий ></h3>
    </a>
</div>
{% endblock %}

