{% extends "layout.html" %}
{% block content %}
<section class="section">
<h2>О трилогии</h2>
<p>
Добро пожаловать на сайт, посвящённый трём фильмам о Человеке-пауке в исполнении <a class="link" href="https://ru.wikipedia.org/wiki/%D0%A5%D0%BE%D0%BB%D0%BB%D0%B0%D0%BD%D0%B4,_%D0%A2%D0%BE%D0%BC_(%D0%B0%D0%BA%D1%82%D1%91%D1%80)"target="_blank" rel="noopener noreferrer">Тома Холланда</a>.
Здесь вы найдёте информацию о <a class="link" href="/plot">сюжете</a>,<a class="link" href="/character">антагонистах</a> и <a class="link" href="/facts">фактах</a>. 
</p>

<div class="film-cards">
<div class="card">
<h3><a class="link" class="highlight" href="/plot#homecoming">Человек-паук: Возвращение домой</a></h3>
<p><a class="link" class="highlight" href="/character#peter1">Питер</a> пытается доказать <a class="link" class="highlight" href="/character#tony">Старку</a> свою готовность быть <a class="link" href="https://en.wikipedia.org/wiki/Avengers_(Marvel_Cinematic_Universe)" target="_blank" rel="noopener noreferrer">Мстителем</a>.</p>
<img src="/static/image/vozvrashenie.jpg" alt="Возвращение домой">
</div>

<div class="card">
<h3><a class="link" class="highlight" href="/plot#farfromhome">Человек-паук: Вдали от дома</a></h3>
<p><a class="link" class="highlight" href="/character#peter1">Питер</a> борется с утратой <a class="link" class="highlight" href="/character#tony">Тони</a> и сталкивается с <a class="link" class="highlight" href="/character#mysterio">Мистерио</a>.</p>
<img src="/static/image/vdaliotdoma.jpg" alt="Вдали от дома">
</div>

<div class="card">
<h3><a class="link" class="highlight" href="/plot#nowayhome">Человек-паук: Нет пути домой</a></h3>
<p>Разрыв <a class="link" href="/glossary#мультивселенная" class="glossary-link">мультивселенной</a> и встреча трёх Пауков.</p>
<img src="/static/image/netputidomoi.jpg" alt="Нет пути домой">
</div>
</div>
</section>

{% endblock %}