{% extends "layout.html" %}
{% block content %}
<section class="story-section">
    <!-- Фильм 1 -->
    <div class="story-block">
        <div class="story-image">
            <img src="/static/image/vozvrashenie.jpg" alt="Возвращение">
        </div>
        <div class="story-text">
            <h2>Человек-паук: Возвращение домой (2017)</h2>
                <p>
                    После событий <a class="link" href="/glossary#противостояние" class="glossary-link"><span data-bs-toggle="tooltip" title="События фильма «Первый мститель: Противостояние» (2016)">«Противостояния»</span></a><a class="link" class="highlight" href="/character#peter1"> Питер Паркер </a> пытается вернуться к обычной жизни старшеклассника, 
                    но ощущает, что теперь способен на большее. Он выполняет мелкие задания в костюме Человека-паука 
                    и надеется, что <a class="link" class="highlight" href="/character#tony">Тони Старк</a> снова позовёт его в команду Мстителей. Питер стремится доказать, 
                    что может быть настоящим героем, но неопытность приводит к ошибкам.
                </p>
                <p>
                    Тем временем в городе появляется новая угроза — <a class="link" class="highlight" href="/character#vulture">Стервятник. Эдриан Тумс</a>, лишившийся бизнеса 
                    из-за вмешательства <a class="link" href="/glossary#damage-control" class="glossary-link"><span data-bs-toggle="tooltip" title="Государственная служба по ликвидации последствий супергеройских инцидентов">Damage Control</span></a>, начинает продавать оружие, созданное на основе инопланетных технологий. 
                    Питер сталкивается с ним, но его действия становятся слишком опасными, и Старк забирает костюм.
                </p>
                <p>
                    Оставшись без костюма, Питер понимает, что <b>главное — не оборудование, а собственные решения</b>. 
                    Он останавливает Стервятника, рискуя жизнью, и делает первый шаг к тому, чтобы стать самостоятельным героем.
                </p>
        </div>
    </div>

    <!-- Фильм 2 -->
    <div class="story-block">
        <div class="story-image">
            <img src="/static/image/vdaliotdoma.jpg" alt="Вдали от дома">
        </div>
        <div class="story-text">
            <h2>Человек-паук: Вдали от дома (2019)</h2>
                <p>
                    После жертвы <a class="link" class="highlight" href="/character#tony">Тони Старка</a> <a class="link" class="highlight" href="/character#peter2">Питер</a> тяжело переживает утрату наставника. Он мечтает отдохнуть и признаться <a class="link" class="highlight" href="/character#mj">ЭмДжей</a>
                    в своих чувствах во время школьной поездки по Европе. Однако планы рушатся, когда появляются таинственные 
                    <span data-bs-toggle="tooltip" class="link" href="/glossary#элементали" class="glossary-link" title="Иллюзии Мистерио, созданные с помощью дронов и проекций">элементали</span> и новый герой — <a class="link" class="highlight" href="/character#mysterio">Мистерио</a>.
                </p>
                <p>
                    Питер видит в <a class="link" href="/character">Мистерио</a> замену <a class="link" href="/character">Тони</a> и доверяет ему очки <a href="/glossary#edith" class="link" class="glossary-link"><span data-bs-toggle="tooltip" title="Enhanced Defense Intelligence Tactical Hub — система очков Тони Старка">E.D.I.T.H.</span></a>, оставленные Старком. Но вскоре выясняется, 
                    что <a class="link" class="highlight" href="/character#mysterio">Мистерио</a> — бывший сотрудник <a href="/glossary#stark-industries"  class="link" class="glossary-link">Stark Industries</a>, который с помощью дронов и иллюзий создаёт ложные угрозы, 
                    чтобы выставить себя спасителем.
                </p>
                <p>
                    Питер понимает, что должен доверять не другим, а <b>самому себе</b>. В Лондоне он побеждает <a class="link" class="highlight" href="/character#mysterio">Мистерио</a>, 
                    но тот успевает раскрыть миру личность Питера Паркера, что полностью меняет жизнь героя.
                </p>
        </div>
    </div>

    <!-- Фильм 3 -->
    <div class="story-block">
        <div class="story-image">
            <img src="/static/image/netputidomoi.jpg" alt="Нет пути домой">
        </div>
        <div class="story-text">
            <h2>Человек-паук: Нет пути домой (2021)</h2>
                <p>
                    После того как <a class="link" class="highlight" href="/character#mysterio">Мистерио</a> раскрывает личность <a class="link" class="highlight" href="/character#peter3">Питера Паркера</a>, жизнь героя превращается в хаос. 
                    Давление СМИ, угрозы, проблемы у <a class="link" class="highlight" href="/character#mj">ЭмДжей</a> и <a class="link" class="highlight" href="/character#ned2">Неда</a> заставляют Питера искать выход. Он обращается 
                    к <a class="link" class="highlight" href="/character#strange">Доктору Стрэнджу</a> с просьбой сделать так, чтобы все забыли, что он Человек-паук.
                </p>
                <p>
                    <span data-bs-toggle="tooltip" class="link" title="Заклинание Доктора Стрэнджа, стирающее личность Питера из памяти людей">Заклинание</span> выходит из-под контроля, и в мир Питера попадают злодеи из других вселенных: 
                    <a class="link" class="highlight" href="/character#docok">Док Ок</a>, <a class="link" class="highlight" href="/character#goblin">Зелёный Гоблин</a>, <a class="link" class="highlight" href="/character#electro">Электро</a>, <a class="link" class="highlight" href="/character#lizard">Ящер</a> и <a class="link" class="highlight" href="/character#sandman">Песочный человек</a>. Вместо того чтобы просто отправить их назад, 
                    Питер решает исцелить каждого, веря, что <b>каждый заслуживает второго шанса</b>. 
                    Это решение приводит к трагедии — гибели <a class="link" class="highlight" href="/character#may3">тёти Мэй</a>.
                </p>
                <p>
                    В самый тяжёлый момент Питеру помогают два других Человека-паука — версии <a class="link" href="https://spiderman-films.fandom.com/wiki/Spider-Man_(Tobey_Maguire)" target="_blank" rel="noopener noreferrer">Тоби Магуайра</a> и <a class="link" href="https://spiderman-films.fandom.com/wiki/Spider-Man_(Andrew_Garfield)" target="_blank" rel="noopener noreferrer">Эндрю Гарфилда</a>. 
                    Вместе они спасают злодеев и предотвращают разрушение <a class="link" href="/glossary#мультивселенная" class="glossary-link"><span data-bs-toggle="tooltip" title="Набор параллельных вселенных, где существуют разные версии Человека-паука">мультивселенной</span></a>. Питер принимает наиболее 
                    болезненное решение в своей жизни — соглашается на заклинание, из-за которого <b>все забывают о его существовании</b>. 
                    Он начинает жизнь с нуля и становится по-настоящему независимым героем.
                </p>
        </div>
    </div>

</section>
<div class="bottom-nav">
    <a href="/" class="bottom-card left-card">
        <h3>< Главная</h3>
    </a>

    <a href="/character" class="bottom-card right-card">
        <h3>Персонажи ></h3>
    </a>
</div>
{% include "components/_modal.html" %}
{% endblock %}
